<html>
    <head>
        <title>My blog of mine </title>
    </head>
    <body>
        <div>
            <h1><a href="">Mi blog </a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>i sayyyyyyyyyyy itsssss myy selllffffishh meee bloggg wuuuuu </p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> aaaaaa lalalalalalalalalalala lyyyyy </p>
        </div>
    </body>
</html>
